.logged-in.admin-menu .main-sidebar {
  padding-top: 80px;
}

.logged-in .main-header {
  position: relative;
  max-height: 100px;
  z-index: 999;
}

.control-sidebar {
  position: absolute;
  padding-top: 80px !important;
  z-index: 805 !important;
}

.control-sidebar.control-sidebar-open+.control-sidebar-bg,
.control-sidebar+.control-sidebar-bg {
  z-index: 800;
}

.logo-lg img {
  width: 45px;
}

.logo-mini img {
  width: 40px;
}

.page-example-report .content-wrapper {
  overflow: scroll;
}

.page-example-report .content {
  width: 2970px;
}

/* Inventory Summary */
.page-inventory-summary section.content {
  overflow: auto;
}

.page-inventory-summary .view-content {
  min-width: 7990px;
}

/* Attendance Report*/
.page-attendance-report section.content {
  overflow: auto;
}

.page-attendance-report .view-content {
  min-width: 2970px;
}

/*Attendance New*/
.page-attendance section.content {
  overflow: auto;
}

.page-attendance .view-content {
  min-width: 2970px;
}

/* Commissary Order Report*/
.page-commissary-request-report section.content {
  overflow: auto;
}

.page-commissary-request-report .view-content {
  min-width: 3000px;
}
.page-commissary section.content {
  overflow: auto;
}

.page-commissary .view-content {
  min-width: 3000px;
}
/*Commissary pullout*/
.page-commissary-pullout-report section.content {
  overflow: auto;
}

.page-commissary-pullout-report .view-content {
  min-width: 3000px;
}
.page-commissary-pullout section.content {
  overflow: auto;
}

.page-commissary-pullout .view-content {
  min-width: 3000px;
}

.page-commissary-request-pullout .view-content,
.page-commissary-order-request .view-content {
    min-width: 0 !important;
}
/*Transfer in request*/
.page-store-transfer-in-report section.content {
  overflow: auto;
}

.page-store-transfer-in-report .view-content {
  min-width: 3400px;
}
.page-store-transfer-in section.content {
  overflow: auto;
}

.page-store-transfer-in .view-content {
  min-width: 3400px;
}
/*Transfer out request*/
.page-store-transfer-out-report section.content {
  overflow: auto;
}

.page-store-transfer-out-report .view-content {
  min-width: 3400px;
}

.page-store-transfer-out section.content {
  overflow: auto;
}

.page-store-transfer-out .view-content {
  min-width: 3400px;
}
/*Production*/
.page-production-summary section.content {
  overflow: auto;
}

.page-production-summary .view-content {
  min-width: 5300px;
}
/*Cash Management*/
.page-cash-management-report section.content {
  overflow: auto;
}

.page-cash-management-report .view-content {
  min-width: 2000px;
}
.page-cash-management section.content {
  overflow: auto;
}

.page-cash-management .view-content {
  min-width: 2000px;
}
/*Sales Summary*/
.page-sales-summary section.content {
  overflow: auto;
}

.page-sales-summary .view-content {
  min-width: 2000px;
}
/*Sidebar menu - overrides */
#block-menu-menu-bms-menu .content {
  padding: 0;
}

ul li.leaf {
  list-style: none;
}

/*Style Request Form*/
#store-transfer-form .form-item label,
#store-transfer-form .form-item input,
#commissary-request-form .form-item label,
#commissary-request-form .form-item input {
  display: inline-block;
  width: 45%;
}
/*Commissary Order*/
fieldset#edit-commissary-order .fieldset-wrapper span {
  width: 10%;
}

fieldset#edit-commissary-order .fieldset-wrapper div {
  width: 35%;
}

fieldset#edit-commissary-order .fieldset-wrapper div,
fieldset#edit-commissary-order .fieldset-wrapper span {
  display: inline-block;
}
/*Commissary Pullout*/
fieldset#edit-commissary-pullout .fieldset-wrapper .form-item-commissary-pullout-reason {
  width: 100%;
}

fieldset#edit-commissary-pullout .fieldset-wrapper span {
  width: 10%;
}

fieldset#edit-commissary-pullout .fieldset-wrapper div {
  width: 35%;
}

fieldset#edit-commissary-pullout .fieldset-wrapper div,
fieldset#edit-commissary-pullout .fieldset-wrapper span {
  display: inline-block;
}
/*Transfer in*/
fieldset#edit-transfer-in .fieldset-wrapper span {
  width: 10%;
}

fieldset#edit-transfer-in .fieldset-wrapper div {
  width: 35%;
}

fieldset#edit-transfer-in .fieldset-wrapper div,
fieldset#edit-transfer-in .fieldset-wrapper span {
  display: inline-block;
}
/*Transfer out*/
fieldset#edit-transfer-out .fieldset-wrapper span {
  width: 10%;
}

fieldset#edit-transfer-out .fieldset-wrapper div {
  width: 35%;
}

fieldset#edit-transfer-out .fieldset-wrapper div,
fieldset#edit-transfer-out .fieldset-wrapper span {
  display: inline-block;
}
/*Error message*/
.box-body .alert div span {
  display: block;
}
/*manage product*/
.page-manage-product div#edit-field-category-tid-wrapper,
.page-manage-product div#edit-field-sub-category-tid-wrapper {
  width: 30%;
}
/*manage employee*/
.page-manage-employee th.field-label,
.page-administer-employee th.field-label {
  display: none;
}
.page-manage-employee .field-type-double-field .form-item label,
.page-administer-employee .field-type-double-field .form-item label {
  display: none;
}
.page-manage-employee .double-field-elements div,
.page-administer-employee .double-field-elements div {
  display: inline-block;
  width: 40%;
}
.page-manage-employee .field-type-double-field,
.page-administer-employee .field-type-double-field {
  top: 10px;
  position: relative;
}
.views-row-edit-static {
  display: none;
}
.page-manage-employee .view-content .views-row {
  display: inline-block;
  width: 19%;
  padding: 15px;
  vertical-align: top;
  text-align: center;
}
.page-manage-employee .views-field.views-field-picture img,
.page-administer-employee .views-field.views-field-picture img {
  border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  padding: 3px;
  border: 3px solid #d2d6de;
}
.page-administer-employee .view-content .views-row {
  display: inline-block;
  width: 19%;
  padding: 15px;
  vertical-align: top;
  text-align: center;
}
.view-manage-employee .box-footer div {
  display: inline-block;
  padding: 5px 14px;
  background: #e6e4e4;
  border-radius: 3px;
  border: 1px solid #c7c5c5;
  margin: 2px;
}
.view-manage-employee .views-field.views-field-name span {
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
.view-manage-employee .views-field.views-field-title span {
  color: #888686;
  font-size: 12px;
}
.view-manage-employee .view-header {
  float: right;
}
.manage-schedule a {
  color: #000;
}
