.logged-in.admin-menu .main-sidebar {
  padding-top: 80px;
  z-index: 50;
}

.logged-in .main-header {
  position: relative;
  max-height: 100px;
  z-index: 500;
}

.control-sidebar {
  position: absolute;
  padding-top: 50px !important;
  z-index: 60 !important;
}

.control-sidebar.control-sidebar-open+.control-sidebar-bg,
.control-sidebar+.control-sidebar-bg {
  z-index: 50;
}

.logo-lg img {
  width: 45px;
}

.logo-mini img {
  width: 40px;
}
